.dataList{
    left: 25%;
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid black;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}